<h1>Top 5 Favorite Tracks</h1>

<ol>
	<li>"<%= @songs[-1].name %>" by <strong><%= @songs[-1].artist.name %></strong></li>
	<li>"<%= @songs[-2].name %>" by <strong><%= @songs[-2].artist.name %></strong></li>
	<li>"<%= @songs[-3].name %>" by <strong><%= @songs[-3].artist.name %></strong></li>
	<li>"<%= @songs[-4].name %>" by <strong><%= @songs[-4].artist.name %></strong></li>
	<li>"<%= @songs[-5].name %>" by <strong><%= @songs[-5].artist.name %></strong></li>
</ol>